In [1]:
import sqlite3
import pandas as pd

# Create the connection
cnx = sqlite3.connect(r'./database.sqlite')

# create the dataframe from a query
df_participants = pd.read_sql_query("SELECT * FROM participants", cnx)

In [2]:
# remove invalid entries
# remove invalid entries (1-4 = testing, 14 is pid 10 (aborted study)) 
df_participants = df_participants[(df_participants.id != 1) & (df_participants.id != 2) & (df_participants.id != 3) & (df_participants.id != 4) & (df_participants.id != 14)]

In [16]:
print (df_participants)

    id  key  age  height  gender dominant_hand  prior_experience_ar  \
4    5    1   26     176    Male         Right                    1
5    6    2   34     196    Male         Right                    1
6    7    3   24     187    Male         Right                    1
7    8    4   24     164  Female         Right                    1
8    9    5   26     165  Female         Right                    1
9   10    6   22     160  Female         Right                    1
10  11    7   25     160  Female         Right                    1
11  12    8   25     180    Male         Right                    1
12  13    9   27     184    Male          Left                    1
14  15   11   33     177  Female         Right                    1
15  16   12   32     176    Male         Right                    1
16  17   13   27     174    Male         Right                    0
17  18   14   24     176    Male         Right                    1
18  19   15   29     176    Male         Right                    1
19  20   16   22     183    Male         Right                    1
20  21   17   33     176  Female         Right                    1
21  22   18   30     174    Male          Left                    1
22  23   19   35     181    Male         Right                    1

    prior_experience_meta2
4                        0
5                        0
6                        0
7                        0
8                        0
9                        0
10                       1
11                       1
12                       1
14                       0
15                       0
16                       0
17                       0
18                       0
19                       0
20                       0
21                       0
22                       0

In [12]:
print (df_participants.set_index(["id", "dominant_hand"]).count(level="dominant_hand"))

               key  age  height  gender  prior_experience_ar  \
dominant_hand
Left             2    2       2       2                    2
Right           16   16      16      16                   16

               prior_experience_meta2
dominant_hand
Left                                2
Right                              16

In [17]:
print (df_participants.set_index(["id", "gender"]).count(level="gender"))

        key  age  height  dominant_hand  prior_experience_ar  \
gender
Female    6    6       6              6                    6
Male     12   12      12             12                   12

        prior_experience_meta2
gender
Female                       6
Male                        12

In [18]:
print (df_participants['age'].describe())

count    18.000000
mean     27.666667
std       4.214820
min      22.000000
25%      24.250000
50%      26.500000
75%      31.500000
max      35.000000
Name: age, dtype: float64

In [23]:
print (df_participants.set_index(["id", "gender"]).describe())

             key        age      height  prior_experience_ar  \
count  18.000000  18.000000   18.000000            18.000000
mean   10.000000  27.666667  175.833333             0.944444
std     5.790459   4.214820    9.268860             0.235702
min     1.000000  22.000000  160.000000             0.000000
25%     5.250000  24.250000  174.000000             1.000000
50%    10.000000  26.500000  176.000000             1.000000
75%    14.750000  31.500000  180.750000             1.000000
max    19.000000  35.000000  196.000000             1.000000

       prior_experience_meta2
count               18.000000
mean                 0.166667
std                  0.383482
min                  0.000000
25%                  0.000000
50%                  0.000000
75%                  0.000000
max                  1.000000